result
.DS_Store
home/cya/emacs/custom.el
home/cya/emacs/package-quickstart.el
home/cya/emacs/places
home/cya/emacs/snippets
home/cya/emacs/transient
home/cya/emacs/elpa
home/cya/emacs/eln-cache
home/cya/nvim/lazy-lock.json
home/cya/nvim/lazyvim.json
home/cya/vim/autoload
home/cya/vim/plugged
*.elc
*.eln
